<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>
</head>
<body>
    <h1>장바구니</h1>

    <table style="text-align: center;">
        <thead>
          <tr>
            <th>메뉴 이름</th>
            <th>수량</th>
            <th>합계</th>
          </tr>
        </thead>
        <tbody>
            <% for (const cartItem of cartItems) { %>
              <tr>
                <td><%= cartItem.cart_book_name %></td>
                <td>
                    <button onclick="updateQuantity('<%= cartItem.bookcartlist_book_no %>', -1)">-</button>
                    <%= cartItem.cart_book_count %>
                    <button onclick="updateQuantity('<%= cartItem.bookcartlist_book_no %>', 1)">+</button>
                </td> 
              </tr> 
             
            <% } %>
          </tbody>
      </table>

    <!-- <p>장바구니 권수: <%= totalCartPrice %></p> -->
    
    <!-- 총 금액 출력 -->

    <!-- 주문하기 버튼 추가 -->
    <!-- <button onclick="placeOrder()">주문하기</button><br> -->
    <a href="/menu">메뉴로 돌아가기</a>
    
</body>
</html>